.ChatPage{
    padding: 100px 10px;
    margin: 0 auto;
    width: min(1200px, 100%);
    background-color: #dfdfdf;
    border-radius: 30px;
    &__Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_Container{
        margin-top: 100px;
            
    }
}