.Analyses{
    margin: 0 auto;
    margin-bottom: 100px;
    &__Container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }
    &__Sidebar{
        width: 240.62px;
        border-radius: 20px;
    }
    &__Content{

        padding: 32px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    &__Item{
        padding: 32px;
        padding-bottom: 0;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    &__ButtonContainer{
        display: flex;
        justify-content: center;
    }
    &__Button{
        transform: translateY(50%);
    }
}
.Content{
    width: min(972px, 100%);
    position: relative;
    &__Buttons{
        display: flex;
        position: absolute;
        right: 0;
        border-radius: 30px;
        transform: translate(0px, -50px);
        background-color: #fff;
        width: max-content;

    }
    &__BreadCrumps{
        padding: 20px 0;
        display: flex;
    }
    &__BreadCrumps_Link{
        font-family: "Lato", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.15px;
        color: rgba(0, 83, 159, 1);
    }
    &__BreadCrumps_Link_Text{
        color: rgba(117, 138, 176, 1);
    }
}
@media (max-width: 1024px){
    .Analyses{
        &__Content{
            position: absolute;
            width: max-content;
            left: 0;
            z-index: 900;
        }

    }
}

@media (max-width: 768px){
    .Analyses{
        &__Content{
            width: 100%;
        }

    }
}