.Breadcrumbs__Link{
    color: rgba(0, 83, 159, 1);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}