@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    transition: .3s all;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
}