.AnalysesForm{
    width: min(1200px, 100%);
    padding: 20px 0;
    &__Form{

    }
    &__Container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    &__Group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;
    }
}


@media (max-width: 768px){
    .AnalysesForm{
        &__Container{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__Group{
            grid-template-columns: 1fr;

        }
    }
}